.fs-item {
  height: 64px;
  .icon {
    float: left;
    width: 48px;
    height: 48px;
    margin: 8px;
  }
  .name {
    float: left;
    margin: 0 0 0 10px;
    line-height: 64px;
  }
}

.x-list .x-list-disclosure {
  -webkit-mask-position-y: 65%;
  height: 100%;
}