// Disable vendor prefixes for browsers we are not going to support
$experimental-support-for-mozilla: false;
$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;
$experimental-support-for-khtml: false;

//$base-color: #8bd026;
//$page-bg-color: #2d2d2d;